<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<head>
    <link th:href="@{/css/item.css}" rel="stylesheet" type="text/css">
    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
            bindDomEvent();
        });
    </script>
    <script th:src="@{/js/item.js}"></script>
</head>

<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-xs-4 mt-3 mb-3 shadow p-3 bg-light rounded">
            <h3 class="text-center">상품 등록</h3>
            <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <select th:field="*{itemSellStatus}" class="custom-select">
                        <option value="SELL">판매중</option>
                        <option value="SOLD_OUT">품절</option>
                    </select>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">상품명</span>
                    </div>
                    <input type="text" th:field="*{itemName}" class="form-control" placeholder="상품명을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="fieldError">Incorrect
                    data</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">가격</span>
                    </div>
                    <input type="number" th:field="*{price}" class="form-control" placeholder="상품의 가격을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">재고</span>
                    </div>
                    <input type="number" th:field="*{stockNumber}" class="form-control" placeholder="상품의 재고를 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError">Incorrect
                    data</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">상품 설명</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" th:field="*{itemDetail}"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError">Incorrect
                    data</p>
                <div th:if="${#lists.isEmpty(itemFormDto.itemImgDtoList)}">
                    <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                        <div class="mb-3">
                            <label for="formFileSm" class="col-form-label" th:text="상품이미지 + ${num}"></label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file" name="itemImgFile">
                        </div>
                    </div>
                </div>
                <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
                    <div class="form-group" th:each="itemImgDto, status: ${itemFormDto.itemImgDtoList}">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label"
                                   th:text="${not #strings.isEmpty(itemImgDto.oriImgName)} ? ${itemImgDto.oriImgName} : '상품이미지' + ${status.index+1}"></label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file" name="itemImgFile">
                            <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                        </div>
                    </div>
                </div>
                <div th:if="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
                    <button th:formaction="@{/admin/items}" type="submit" class="btn btn-primary">저장</button>
                </div>
                <div th:unless="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
                    <button th:formaction="@{'/admin/items/' + ${itemFormDto.id} }" type="submit"
                            class="btn btn-primary">수정
                    </button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</html>