<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/itemDtl.js}"></script>
    <link th:href="@{/css/itemDtl.css}" rel="stylesheet" type="text/css">
</head>

<div layout:fragment="content" style="margin-left:10%;margin-right:10%">
    <input type="hidden" id="itemId" th:value="${item.id}">
    <section class="py-5 shadow p-3 mt-5 mb-5 bg-body rounded">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0 rounded"
                         th:src="${item.itemImgDtoList[0].imgUrl}" th:alt="${item.itemName}"/></div>
                <div class="col-md-6">
                    <h2 class="fw-bolder" th:text="${item.itemName}">이름</h2>
                    <div class="fs-5 mb-3">
                        <span th:text="${item.price}"></span>원
                        <input type="hidden" th:value="${item.price}" id="price" name="price">
                        <span th:if="${item.itemSellStatus == T(com.ccs.pluto.models.constant.ItemSellStatus).SELL}"
                              class="badge rounded-pill bg-success">
                                        판매중
                                    </span>
                        <span th:unless="${item.itemSellStatus == T(com.ccs.pluto.models.constant.ItemSellStatus).SELL}"
                              class="badge rounded-pill bg-danger">
                                        품절
                                    </span>
                    </div>
                    <p class="lead" th:text="${item.itemDetail}"></p>
                    <hr class="my-6">
                    <div class="d-flex" style="flex-direction: column">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">수량</span>
                            </div>
                            <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                        </div>
                        <h4 class="fw-bolder mb-3">
                            주문 금액: <span name="totalPrice" id="totalPrice"></span>
                        </h4>
                        <div th:if="${item.itemSellStatus == T(com.ccs.pluto.models.constant.ItemSellStatus).SELL}"
                             class="text-right">
                            <button type="button" class="btn btn-outline-dark flex-shrink-0"
                                    onclick="addCart()">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니
                            </button>
                            <button type="button" class="btn btn-outline-dark flex-shrink-0" onclick="order()">
                                <i class="bi-cart-fill me-1"></i>
                                주문하기
                            </button>
                        </div>
                        <div th:unless="${item.itemSellStatus == T(com.ccs.pluto.models.constant.ItemSellStatus).SELL}"
                             class="text-right">
                            <button type="button" class="btn  flex-shrink-0 btn-danger ">
                                <i class="bi-cart-fill me-1"></i>
                                품절
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div>
                <h5 class="fw-bolder text-center">세부 사진</h5>
                <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                    <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}"
                         class="card-img-top mb-5 rounded">
                </div>
            </div>
        </div>
    </section>
</div>
</html>