<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">
<head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css">
    <link th:href="@{/css/member.css}" rel="stylesheet" type="text/css">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/member.js}"></script>
</th:block>

<div layout:fragment="content">
    <form action="/members" role="form" method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력해주세요">
            <p class="fieldError" id="nameError"></p>
        </div>
        <div class="form-group">
            <label th:for="email">이메일주소</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
            <p class="fieldError" id="emailError"></p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호 입력">
            <p class="fieldError" id="passwordError"></p>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" id="address" name="address" class="form-control" placeholder="주소를 입력해주세요">
            <p class="fieldError" id="addressError"></p>
        </div>
        <div style="text-align: center">
            <button type="button" class="btn btn-primary" onclick="memberFormSubmit()">Submit</button>
        </div>
    </form>
</div>
</html>