<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="bg-light" th:fragment="headerFragment">
    <div class="container-fluid d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-2">Pluto</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" th:action="@{/}" method="get">
            <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search"
                   aria-label="Search">
        </form>
    </div>
</header>
</html>