<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/cartList.js}"></script>
    <link th:href="@{/css/cartList.css}" rel="stylesheet" type="text/css">
</head>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-xs-4 mt-3 mb-3 shadow p-3 bg-light rounded">
            <h3 class="text-center">장바구니 목록</h3>
            <table class="table">
                <colgroup>
                    <col width="15%"/>
                    <col width="70%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                <tr class="text-center align-middle">
                    <td>
                        <input type="checkbox" id="checkall" onclick="checkAll()"> 전체선택
                    </td>
                    <td>상품 정보</td>
                    <td>금액</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cartItems}">
                    <td class="text-center align-middle">
                        <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
                    </td>
                    <td class="d-flex">
                        <div class="repImgDiv align-self-center">
                            <img th:src="${cartItem.imgUrl}" class="rounded repImg" th:alt="${cartItem.itemName}">
                        </div>
                        <div class="align-self-center">
                            <span th:text="${cartItem.itemName}" class="fs24 font-weight-bold"></span>

                            <span th:id="'price_' + ${cartItem.cartItemId}"
                                  th:data-price="${cartItem.price}"
                                  th:text="${cartItem.price} + '원'" class="fs24 font-weight-bold">
                                </span>
                            <div class="fs18 font-weight-light">
                            <span class="input-group mt-2" style="width: auto;">
                                <span class="align-self-center mr-2">선택 수량</span>
                                <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                       th:value="${cartItem.count}" min="1"
                                       onchange="changeCount(this)" class="form-control mr-2">
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true" th:data-id="${cartItem.cartItemId}"
                                          onclick="deleteCartItem(this)">&times;</span>
                                </button>
                            </span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}"
                          name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'">
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <h4 class="text-center">총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span></h4>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-outline-dark btn-lg" onclick="orders()">주문하기</button>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</html>