<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>

<head>
    <script th:src="@{/js/index.js}"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
</head>

<div layout:fragment="content">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://t1.daumcdn.net/tistoryfile/fs10/27_tistory_2009_02_10_17_17_499138004416b??original"
                     class="d-block w-100" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2>There is no gains without pains</h2>
                        <p>Benjamin Franklin</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.wallpaperup.com/uploads/wallpapers/2014/01/13/225753/b970cca19acc86e69aab439536de4935-700.jpg"
                     class="d-block w-100" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>Imagination rules the world</h2>
                        <p>Napolen Bonaparte</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images8.alphacoders.com/356/thumb-1920-356619.jpg"
                     class="d-block w-100" alt="">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h2>Dream as if you'll live forever. Live as if you'll die today</h2>
                        <p>James Dean</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="album py-5">
        <div class="searchQuery">
            <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
            <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
                <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"
                   style="text-align: center"></p>
            </div>
        </div>
        <div class="container" style="margin-bottom: 8px">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col">
                        <div class="card shadow-sm">
                            <a th:href="'/items/' +${item.id}" class="main_item">
                                <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemName}"
                                     height="350">
                                <div class="card-body text-center">
                                    <h4 class="card-title">[[${item.itemName}]]
                                        <span th:unless="${item.itemSellStatus == T(com.ccs.pluto.models.constant.ItemSellStatus).SELL}"
                                              class="badge btn-danger mgb-15">품절</span></h4>
                                    <h5 class="card-title">[[${item.price}]]원</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="indicator">
            <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                        <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                           aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                        th:classappend="${items.number eq page-1}?'active':''">
                        <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}"
                           th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                        <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}"
                           aria-label='Next' class="page-link">
                            <span aria-hidden='true'>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>