<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="~{layouts/layout}">

<div class="container" layout:fragment="content" style="border: 1px solid red">
    <table>
        <tr>
            <td>제품명</td>
            <td>
                <input name="product_name" id="product_name">
            </td>
        </tr>
        <tr>
            <td>가격</td>
            <td>
                <input name="product_price" id="product_price">
            </td>
        </tr>
        <tr>
            <td>수량</td>
            <td>
                <input name="product_quantity" id="product_quantity">
            </td>
        </tr>
        <tr>
            <td>제품코드</td>
            <td>
                <input name="product_code" id="product_code">
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="product_desc" id="product_desc" rows="10" cols="50"
                          style="width: 100%; height: 300px"></textarea>
            </td>
        </tr>
        <tr>
            <td>첨부사진</td>
            <td>
                <input id="product_image" type="file" name="filename" size="50" maxlength="50"/>
            </td>
        </tr>
    </table>
    <div>
        <input id="addProduct" type="button" value="등록" onclick="addProduct()">
        <input id="cancel" type="button" value="취소" onclick="history.back()">
    </div>
</div>
</html>