<!--<!DOCTYPE html>-->
<!--<html-->
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--        layout:decorate="~{layouts/layout}"-->
<!--&gt;-->
<!--<head>-->
<!--   <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>-->
<!--</head>-->
<!--<div layout:fragment="content" class="warp">-->
<!--   로그인-->
<!--   <table>-->
<!--      <tr>-->
<!--         <td>아이디</td>-->
<!--         <td>-->
<!--            <input name="id" id="user_id" class="user_id">-->
<!--         </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--         <td>비밀번호</td>-->
<!--         <td>-->
<!--            <input name="pass" type="password" id="pass">-->
<!--         </td>-->
<!--      </tr>-->
<!--   </table>-->
<!--   <div>-->
<!--      <input id="login" type="button" value="로그인" onclick="">-->
<!--      <input type="button" value="회원가입" onclick="location.href='/member'">-->
<!--   </div>-->
<!--   <div>-->
<!--      <a href="/oauth2/authorization/google">gogggggle</a>-->
<!--      <a href="/oauth2/authorization/github">ggggithub</a>-->
<!--   </div>-->
<!--</div>-->
<!--</html>-->
